<div class="bar bar-header bar-light">
	<h1 class="title">
	  	<span class="second-arrive">次日到达</span>
	  	<a href="#address">北京科技职业学院</a>
	  	<a class="icon-right ion-chevron-down"></a>
	</h1>
  	<button class="button button-clear icon ion-search"></button>
</div>
<div class="bar bar-subheader">
  <h2 class="title">
  		<div class="row">
		  <div class="col">新春特惠</div>
		  <div class="col">水果</div>
		  <div class="col">肉蛋</div>
		  <div class="col">水产</div> 
		</div>
  </h2>
</div>
<ion-content class="has-footer has-subheader">
	<ion-slide-box class="slide-wrapper" ng-con>
		<ion-slide>
		   <div class="box"><img src="http://missfresh-asvip-production-common.ufile.ucloud.com.cn/entrance_images/AA945036D453FBF870D80C0E275CA896.JPG?iopcmd=thumbnail&type=4&width=640"></div>
		</ion-slide>
		<ion-slide>
		   <div class="box"><img src="http://missfresh-asvip-production-common.ufile.ucloud.com.cn/entrance_images/0AD57C42950950D31A5C79DFB75C7C94.JPG?iopcmd=thumbnail&type=4&width=640"></div>
		</ion-slide>
		<ion-slide>
		   <div class="box"><img src="http://missfresh-asvip-production-common.ufile.ucloud.com.cn/entrance_images/A447E9408C1D0124F0A87A2D904D1536.JPG?iopcmd=thumbnail&type=4&width=640"></div>
		</ion-slide>
	</ion-slide-box>
	<div class="list" id="mylist">
		<single-cart ng-repeat="item in homedata" item="item"></single-cart>
	</div>
</ion-content>